@font-face {
  font-family: Primary;
  src: url(./fonts/Haike-Regular.ttf);
}
@font-face {
  font-family: Secondary;
  src: url(./fonts/Haike-ThinReg.ttf);
}
@font-face {
  font-family: Heading;
  src: url(./fonts/Haike-col.ttf);
}
@font-face {
  font-family: Main;
  src: url(./fonts/Haike-condensedreg.ttf);
}
@font-face {
  font-family: PrimaryBold;
  src: url(./fonts/Haike-boldreg.ttf);
}

@font-face {
  font-family: Footer;
  src: url(./fonts/Sabo_Font/Sabo-Filled.otf);
}

.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

.App h1 {
  font-family: Heading;
  font-size: 2.5rem;
}

.App h3 {
  font-family: Heading;
}

.App li {
  font-family: Heading;
  font-size: 1.5rem;
}

.App li a {
  text-decoration: none;
  color: #333;
}

.App li a:hover {
  text-decoration: underline;
}

.App p {
  text-align: justify;
}

.navMenuIcon {
  display: none;
}

.carousel img {
  max-height: 90vh;
  width: auto;
}

footer p {
  font-family: Footer;
}

@media only screen and (max-width: 800px) {
  /* HEADER MEDIA QUERIES */

  .navMenu {
    display: none !important;
    flex-direction: column;
    position: relative;
  }

  .navMenuToggled {
    display: flex;
    flex-direction: column;
  }

  .navMenuIcon {
    display: block;
  }

  /* BACKGROUND MEDIA QUERIES */

  .backgroundAsideStyle {
    display: none !important;
  }

  /* PODCAST CARDS MEDIA QUERIES */

  .cardContainerStyles {
    flex-wrap: wrap;
  }

  .cardContainerStyles img {
    max-height: 200px;
  }

  .cardContainerStyles * {
    margin: 0;
  }
}
